---
layout: default
title: Blog
permalink: /blog/
---

<h1>Blog</h1>
<div class="grid">
  {% assign posts = site.posts | sort: 'date' | reverse %}
  {% for post in posts %}
    <article>
      {% if post.image %}
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
      {% endif %}
      <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      <p><small>{{ post.date | date: "%B %d, %Y" }}</small></p>
      {% if post.summary %}
        <p>{{ post.summary }}</p>
      {% endif %}
      <p><a href="{{ post.url | relative_url }}">Read more &rarr;</a></p>
    </article>
  {% endfor %}
</div>
